@model WebApplication2.Models.Photo
@{
	ViewBag.Title = "DeleteImageView";
}

<h2>You're sure you want to delete this amazing picture ?</h2>
<img src="@Model.tRPath" class="img-circle"/>
<h3>@Model.NameOfPhoto</h3>
<h4>@Model.Date</h4>
<form id="f" action="PhotosView">
	<input id="okB" type="submit" class="btn danger" value="yes" />
	<input id="cancelB" type="submit" class="btn-primary" value="no"/>
</form>
<script>
	$("#okB").click(function () {
		var path =@Html.Raw(Json.Encode(Model.rPath));
		var pathT =@Html.Raw(Json.Encode(Model.tRPath));
		$.post("@Url.Action("DeleteImage")", { path, pathT }, function (data) {
			document.forms["f"].submit();
		});
	});
</script>

